page-about {
    
    $color-cyan: #00FFFF;
    
    .category {
        border-bottom: 1px solid black;
    }
    
    h2 {
            padding-top: 5px !important;
            font-size: 3vw !important;
            font-style: bold !important;
    }
    
    p {
        white-space: normal;
    }
    
    h3 {
        white-space: normal;
        font-size: 3vw !important;
        font-weight: bold !important;
    }
    
    .skills {
        font-style: italic;
    }
}
