// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$color-green: #32cd32;
$color-cyan: #00FFFF;
//$color-cyan: #505B94;

@font-face {
    font-family: 'Planet_Kosmos_Regular';
    src: url('../assets/fonts/Planet_Kosmos_Regular.ttf') format('truetype'),
        url('../asset/fonts/Planet_Kosmos_Regular.woff') format('woff'),
        url('../asset/fonts/Planet_Kosmos_Regular.woff2') format('woff2');
}

.toolbar-background-md {
    background-color: $color-cyan;     
}

@media screen and (min-device-width : 0px)
{
    .toolbar-title-md
    {
        font-size: 1em !important;
    }
}

@media screen and (min-device-width : 401px)
{
  .toolbar-title-md 
  {
    font-size: 2em !important;
  }
}
/*
@media screen and (max-device-width : 1204px)
{
  .toolbar-title-md  
  {
    font-size: 2em !important;
  }
}
*/
.toolbar-title-md {
    font-family: 'Planet_Kosmos_Regular'; 
    text-align:center; 

    //color:#86D8;
    color: $color-green;
    //font-size: 2em;
}

.toolbar .toolbar-md {
    background-color: black;
}

.sideMenuBtn {
    background-color: $color-cyan;
    color: $color-green;
    
}

ion-card-header img {
    height: 40pt;
    width: 40pt;
    float: left;
}

ion-list .item-list .item-md {
    background-color: blue;
}

ion-card-header div {

    padding-top: 15pt;
}

ion-card {
    opacity: .95;
    text-align:center;
    border-radius: 6px !important;
}

ion-content {
    background-image: url('../assets/imgs/TechnoH.jpg');
    background-size: 100%;
}

ion-menu .fixed-content {
    background-color: $color-cyan;
}
